################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/client/node_modules
/server/.vs
/server/bin
/server/obj
